<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<div class="text-align-right">
						<%= link_to 'New', new_admins_category_path, class: 'btn' %>
					</div>
					<table>
						<thead>
							<tr>
								<th>name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @categories.each do |c| %>
								<tr>
									<td><%= c.name %></td>
									<td>
										<p><%= link_to 'Edit', edit_admins_category_path(c) %></p>
										<p><%= link_to 'Delete', admins_category_path(c), method: :delete %></p>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
